/**
 * allgemein
 */
 body {
	font-family: 'Muli', sans-serif;
	color: rgb(255, 255, 255);
 }

/**
 * Header
 */
.header {
	height: 620px;
    background-image: url("../img/header-1.jpg");
    background-size: cover;
    background-position: 50% 62%;
}
.brand-wrapper {
	margin-top: 20px;
	float: left;
}
.brand-icon {
	background-image: url("../img/schrift.jpg");
	width: 250px;
	height: 250px;
	border-width: 3px;
	border-color: rgb(255, 255, 255);
	border-radius: 100000px;
}
.brand-text {
	font-size: 120%;
	font-family: 'Baumans', cursive;
	text-align: center;
	text-shadow: 0px 0px 2px black;
}
.navbar-items {
	float: right;
	margin-top: 100px;
	list-style-type: none;
	text-shadow: 0px 0px 2px black;
}
.navbar-items li {
	margin-left: 20px;
	float: left;
	text-decoration: none;
}
.navbar-items a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.navbar-items a:hover {
    color: rgb(200, 200, 200);
    text-decoration: underline;
}

.slogan-top {
	padding-top: 100px;
	font-family: 'Baumans', cursive;
	font-size: 300%;
	text-align: center;
	text-shadow: 0px 0px 2px black;
	
}
.slogan-bottom {
	font-size: 120%;
	font-style: lighter;
	text-shadow: 0px 0px 2px black;
	text-align: center;
}
/**
 * About me
 */
.me {
	padding-top: 50px;
	padding-bottom: 50px;
	color: rgb(30, 30, 30);
	background-color: rgb(222, 234, 246);
}
.me-header {
	font-family: 'Baumans', cursive;
	font-size: 300%;
	color: rgb(30, 30, 30);
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}
.bild {
	height: 200px;
	width: 200px;
	background-color: rgb(17, 148, 197);
	color: papayawhip;
	font-size: 500%;
	text-align: center;
}
.bild i {
	padding-top: 55px;
}
/**
 * Termine
 */
 .dates {
	padding-top: 50px;
	padding-bottom: 50px;
	color: rgb(30, 30, 30);
	font-weight: lighter;
 }
 .dates-header {
	color: rgb(30, 30, 30);
	font-family: 'Baumans', cursive;
	font-size: 300%;
	text-align: center;
	padding-top: 50px;
 }
 .dates-colored {
	background-color: rgb(222, 234, 246);
 }
 .levana {
	padding-top: 20px;
 }
 .levana a {
	color: rgb(30, 30, 30); 
	text-decoration: none;
 }
 /**
  * Contact
  */
 .contact {
	padding-top: 50px;
	padding-bottom: 50px;
	color: rgb(30, 30, 30);
	background-color: rgb(222, 234, 246);
}
.contact-header {
	color: rgb(30, 30, 30);
	font-family: 'Baumans', cursive;
	font-size: 300%;
	text-align: center;
	padding-top: 50px;
}
.contact-items {
	margin-top: 145px;
	list-style-type: none;
	font-size: 150%;
}
.contact-items li {
    font-weight: lighter;
    height: 2.5em;
}
.contact-items .fa {
    font-size: 150%;
}
.contact-icon {
	display: inline-block;
    width: 40px;
    text-align: center;
}
.contact-input {
    width: 100%;
    margin-bottom: 28px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: all 0.33s;
    transition: all 0.33s;
}
.contact-input:focus,
input.contact-input:focus {
    border: 1px solid rgb(30, 30, 30);
    background-color: rgb(230, 230, 230);
}
.storch {
	display: flex;
	justify-content: center;
	align-items: center;
}
.storch img {
	border: 1px;
	border-radius: 10px;
}
 /**
  * Services
  */
.services {
	padding-top: 50px;
	padding-bottom: 50px;
	color: rgb(30, 30, 30);
}
.services-header {
	color: rgb(30, 30, 30);
	font-family: 'Baumans', cursive;
	font-size: 300%;
	text-align: center;
	padding-top: 50px;
}
.services {
	padding-top: 50px;
	padding-bottom: 50px;
	color: rgb(30, 30, 30);
	font-weight: lighter;
 }
.services-colored {
	background-color: rgb(222, 234, 246);
}
.services-icon {
	height: 100px;
	width: 100px;
	margin-top: 15px;
	background-color: rgb(30, 30, 30);
}
/**
 * Impressum
 */
.impressum {
	padding-top: 50px;
	padding-bottom: 50px;
	color: rgb(30, 30, 30);
	background-color: rgb(222, 234, 246);
}
.impressum-header {
	color: rgb(30, 30, 30);
	font-family: 'Baumans', cursive;
	font-size: 300%;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 25px;
}
 /**
  * footer
  */
.footer {
	color: rgb(30, 30, 30);
	padding-top: 25px;
	margin-bottom: 15px;
	text-decoration: none;
	text-align: center;
	font-size: 70%;
}
.footer a {
	color: rgb(30, 30, 30);
	text-decoration: none;
}